[alias]
	aa = add -A
	amend = commit --amend
	b = branch
	co = checkout
	d = diff
	dc = diff --cached
	dh = diff --cached HEAD^
	ds = diff --cached --stat
	fat = fetch --all --tags
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
    r = restore
    rs = restore --staged
	s = status
	quick-stats = /usr/local/bin/git-quick-stats
	pat = pull --all --tags

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[core]
    pager = delta
	excludesFile = ~/.gitignore
	editor = vim

[credential]
	helper = cache --timeout=36000

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended

[interactive]
    diffFilter = delta --color-only

[merge]
	tool = kdiff3

[user]
	name = Christophe '116' Loiseau
	email = 116@lab0.net

